* {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", "Arial";
}

body {
  background-color: #b1afaf;
}

h1 {
  text-align: center;
  padding-top: 3%;
  color: rgb(7, 7, 7);
}

h2 {
  color: rgb(59, 58, 58);
}

nav a {
  text-decoration: none;
  font-size: 11px;
  display: block;
  padding: 15px;
  color: rgb(7, 7, 7);
}

.header {
  margin-top: 7%;
}

.header i {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

.header li {
  display: inline-block;
}

.header a {
  font-size: 17px;
  padding-left: 5px;
}

.header {
  margin: 0 auto;
  padding-top: 10px;
}

.conteudo {
  text-align: center;
}

nav a:hover {
  color: rgb(255, 255, 255);
  transition: 0.35s;
}

nav {
  text-align: center;
}

.conteudo {
  width: 60%;
  margin: 0 auto;
}

li {
  color: rgb(22, 34, 134);
}

.container-header {
  height: 40%;
}

.conteudo p {
  margin-top: 40px;
  padding-bottom: 10px;
  color: rgb(7, 7, 7);
}

.footer {
  margin-top: 7%;
}

.footer li {
  display: inline-block;
}

.footer a {
  font-size: 17px;
}
