html {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Fira Code", "Arial";
}

.container {
    width: 60%;
}

p {
    padding-top: 5px;
}

h3,
h4 {
    padding-top: 35px;
    padding-bottom: 10px;
}

body {
    background-color: #cccaca;
}

.initial {
    color: black;
    padding-bottom: 30px;
    text-align: center;
}