html {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Fira Code", "Arial";
}

body {
  background-color: #ffffff;
}

.initial {
  color: black;
  padding-bottom: 30px;
  justify-items: center;
  text-align: center;
}

.container {
  text-align: left;
}

p {
  padding-top: 5px;
  padding-left: 5px;
}

h3,
h4 {
  padding-top: 25px;
  padding-bottom: 10px;
}

a {
  color: black;
}

a:hover {
  color: rgb(9, 48, 221);
}
